{% load staticfiles %}

<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

      <link rel="stylesheet" href="{% static 'css/equipos.css' %}">


        <title>Administrador de Equipo</title>
    </head>
    <body>
      <div class="page-header">
        <a href="{% url 'ligas.views.nuevo_equipo' %}" class="top-menu"><span class="glyphicon glyphicon-plus" >NuevoEquipo</span></a>
        <a href="{% url 'ligas.views.nueva_liga' %}" class="top-menu"><span class="glyphicon glyphicon-cloud-upload">NuevaLiga</span></a>
        <a href="{% url 'ligas.views.post_ligas' %}" class="top-menu"><span class="glyphicon glyphicon-eye-open">VerDatos</span></a>
           <h1><a href="/">Admin Futbol</a></h1>
       </div>
       <div class="content container">
           <div class="row">
               <div class="col-md-8">
               {% block content %}
               {% endblock %}
               </div>
           </div>
       </div>
    </body>
</html>
